<div class="card my-5">
    <div class="card-body">
      <a routerLink="/addspecimen" class="btn btn-primary">Add Specimen</a>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID#</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Species</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let specimen of specimens">
            <td>{{ specimen.id }}</td>
            <td>{{ specimen.name }}</td>
            <td>{{ specimen.location }}</td>
            <td>{{ specimen.species.name }}</td>
            <td>{{ specimen.notes }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>